<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="show_sql">false</property>
		<property name="format_sql">true</property>
		<property name="dialect">org.iti.hrmManager.dialect.SQLiteDialect</property>
		<property name="connection.driver_class">org.sqlite.JDBC</property>
		<property name="connection.url">jdbc:sqlite:hrm.sqlite</property>
		<property name="connection.username"></property>
    <property name="connection.password"></property>
    <mapping package="org.iti.hrmManager.hrm"/>
    <mapping class="org.iti.hrmManager.persistence.Department"/>
    <mapping class="org.iti.hrmManager.persistence.Employee"/>
	<mapping class="org.iti.hrmManager.persistence.Manager"></mapping>
	<mapping class="org.iti.hrmManager.persistence.Customer"></mapping>
	<mapping class="org.iti.hrmManager.persistence.Salesperson"></mapping>
	<mapping class="org.iti.hrmManager.persistence.ExternalStaff"></mapping>
	<mapping class="org.iti.hrmManager.persistence.Janitor"></mapping></session-factory>
	</hibernate-configuration>
